body {
  background-image: url("images/background.jpeg");

}


.Wrapper{
  color: black;
  border-radius: 20px;
  margin-left: 10em;
  margin-right: 10em;
  margin-top: 10px;
  background-color: white;
}
.Content{
  margin: 1em;
  padding: 10px;
}
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: ;
}
