@import url('https://fonts.googleapis.com/css?family=Bree+Serif&display=swap');
body{
  margin: 0;
  font-family: 'Bree serif', sans-serif;
color: white;
  background-image: url("images/background.jpeg");

}
header{
    background-color: #292929;
}
nav{
  text-align: center;

  padding: 1%

}
nav ul{
  margin: 0;
  padding: 0;

}

nav li{
  display:inline-table;
  padding: 7px;
  margin: 1em;
  transition: .2s;
}
nav li:hover{
    background-color: rgba(0,0,0,0.4);
}

nav a{
  opacity: 1;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}
h1{
  text-align: center;

}

#aboutimgleft, #aboutimgcenter, #aboutimgright {
    float: left;
    width: 33.33%;
}

#aboutimgleft img {
    margin-left: 30px;
}

#aboutimgcenter {
    text-align: center;
}

#aboutimgright {
    text-align: right;
}

#aboutimgright img {
    margin-right: 30px;
}
.video{
  margin-top: 10em;
  margin-left: 30em;
  margin-right: 10em;
}

footer {
    text-align: center;
    bottom: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.4);
}
