@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');


header{
  position: absolute;
  left: 0;
  right: 0;
  padding: 1em 0;
  background-image: url("images/background.jpeg");
}

nav ul{
  list-style: none;

}
nav li {
  display: inline-table;
  margin: 1em;
}

nav a{
  display: inline;
  font-weight: 900;
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
  text-decoration: none;
  color: white;
}
nav a:hover{
  color:
}
